* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 :root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;
  
  --font-family-asap: "Asap", sans-serif;
  --font-family-incon: "Inconsolata", monospace;
  --font-family-maven: "Maven Pro", sans-serif;

  --h1: 800 56px/120% var(--font-family-asap);
  --h2: 800 24px/120% var(--font-family-asap);
  --h3: 800 16px/120% var(--font-family-asap);

  --subtitle: 400 20px/120% var(--font-family-incon);

  --text-md: 400 16px/140% var(--font-family-maven)
  --text-sm: 400 14px/140% var(--font-family-maven)                        
 }

 body {
  background-color: black;
 }

 .container {
  width: 1366px;
  margin: auto;
 }

