#projects {
  width: 1366px;
  margin: auto;
  background-color: var(--gray-200);
  
  header {
    margin-block: 72px 0;
  }

  header p {
  margin-block: 0 8px;
}

  header h2 {
    margin-block: 0 56px;
  }
}